:root {
  --orange: rgb(232, 179, 3);
  --orange1: #f29200;
  --blue: #0962c6;
  --header-height: 120px;
  --title-color: #000;
  --first-color: #f29200;
  --font-semi-bold: 600;
  --smaller-font-size: 0.9rem;
}

.carousel-item {
  position: relative;
}

.carousel-caption{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  
}
.carousel-image {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); 
}
