.popular-course-card {
  transition: box-shadow 0.3s ease;
}

.popular-course-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.card-item {
  border: 1px solid #ccc;
  transition: box-shadow 0.3s ease;
}

.card-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
