.main{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
.main .sidebar{
    width: 15%;
    height: 100vh;
    background: #1c273c;
    color: #fff;
}
.main .wrapper{
    width: 85%;
    padding: 0;
    margin: 0;
    display: block;
    overflow-y: auto;
    flex: 1;
    overflow-x: hidden;
}
.main .wrapper .topbar{
    width: 100%;
    height: 8vh;
    color: #000;
    font-weight: 500;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 0px 20px;
}

.sidebar .container{
    padding: 30px;
}
.sidebar ul li {
    color: #fff;
    margin: 10px 0px;
  }
.sidebar ul a{
    padding: 5px 10px;
    margin: 10px 0px;
}
  
  .sidebar ul a.active {
    background: orange;
    text-decoration: none; 
    color: #fff; 
    padding: 5px 10px; 
    border-radius: 5px; 
    display: block; 
    width: 100%; 
    font-size: 1rem;
  }

  .box {
    width: 100%;
    min-height: 40vh;
    padding: 20px;
    background-image: url('../assets/bg-logo.webp');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 20rem; 
    opacity: 100%;
}
  
  
.topbar button{
    background: none;
    border: none;
    font-size: 1.3rem;
}
.topbar #togglebar{
    display: none;
}
.topbar .toggle{
    display: flex;
    justify-content: end;
}
.sidebar #closeBtn button{
    display: none;
}
.sidebar .row img{
    margin: 20px 0px;
    width: 13rem;
}
.row ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding: 0px 10px;
}
.row ul li span i{
    width: 20px!important;
}
.row ul li span {
    margin-right: 10px;
    text-align: center;
}
.main-content .container{
    padding: 30px;
}
.main-content .container .box{
    min-height: 70vh;
}

.col-auto a{
    background: #138D75;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    transition: ease-in-out 0.1s;
}
.col-auto a:hover{
    background: #16A085;
    box-shadow: none;
    color: #fff;
}
#exam-attended {
    background: #D6EAF8;
    min-height: 10vh;
    color: #2874A6;
  }
  
  #course-selected {
    background: #F2D7D5;
    color: #A04000;
  }
  
  #active-exams {
    background: #D0ECE7;
    color: #1D8348;
  }
  
  #latest-score {
    background: #E8DAEF;
    color: #76448A;
  }
  
  #dashboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  #dashboard .col {
    width: 100%;
    border-radius: 10px;
    padding: 5px 15px;
  }
  
  #dashboard .col .row .col-3 span {
    font-size: 2.5rem;
  }
  
  #dashboard .col3 {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
  
  #dashboard .col-9 {
    text-align: left;
    font-size: 1.5rem;
  }
  
  #dashboard h6 {
    font-size: 1.3rem;
  }

  .navbar {
    background-color: #fefefe;
    color: #333;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    height: 60px!important;
}
.navbar button{
    border: none;
    background: none; 
}
.logoutBtn{
    border: none;
    color: red!important;
}
.logoutBtn:hover{
    background: none!important ;
}
@media only screen and (max-width: 750px) {
    main {
      background-color: lightblue;
    }
    .main .sidebar{
        width: 80%;
        position: absolute;
        z-index: 999;
        position: absolute;
        display: none;
        transition: left 0.3s ease-in-out;    
    }
    .main .topbar{
        width: 100%;
        
    }
    .main .wrapper{
        width: 100%;
    }
    .topbar #togglebar{
        display: flex;
    }
    .topbar .toggle{
        display: flex;
        justify-content: space-between;
    }
    .sidebar #closeBtn button{
        display: flex;
        background: none;
        border: none;
        font-size: 1.3rem;
        color: #fff;
    }
    .sidebar .row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px;
    }

    .sidebar .row img{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #dashboard {
        grid-template-columns: repeat(1, 1fr)!important; 
      }
    #dashboard .col{
        width: 100%;
    }
}