.audio-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .play-pause-button {
    border: 1px solid #ccc!important;
    background: none;
    font-size: 2rem;
    cursor: pointer;
    color: #333;
  }
  
  .btn-answer {
    width: 100%;
    text-align: left;
    border: 1px solid #ccc;
    background: #D6EAF8;
    height: auto;
    padding: 10px 15px;
  }
  